---
import {
  getLangFromUrl,
  staticPathsForMultilang,
  useTranslations,
} from "src/i18n/utils";
import { getProductSlug, products } from "src/config/products";

import DefaultLayout from "src/layouts/DefaultLayout.astro";

export const prerender = true;
export const getStaticPaths = staticPathsForMultilang();

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<DefaultLayout title={t("nav.products")}>
  <section>
    <div class="px-5 lg:px-10 py-5 bg-neutral-100">
      <h1 class="text-4xl font-bold">{t("nav.products")}</h1>
    </div>
    <div class="text-lg space-y-2 px-5 lg:px-10 py-5 bg-white">
      <p>{t("products.order")}</p>
      <p>{t("products.pickup")}</p>
    </div>
    <div
      class="px-5 lg:px-10 py-5 grid md:grid-cols-2 lg:grid-cols-3 gap-2 bg-neutral-100"
    >
      {
        products.map((product, id) => (
          <div
            id={getProductSlug(id)}
            class="flex flex-col bg-white border border-black divide-y divide-black"
          >
            <div class="flex-grow">
              <img src={product.img} alt={product.name[lang]} class="w-full" />
            </div>
            <a
              href={`/${lang}/products/${getProductSlug(id)}`}
              class="flex justify-between items-center p-2"
            >
              <p class="text-xl font-medium">{product.name[lang]}</p>
              <button class="bg-secondary border border-black p-2">
                Részletek {"->"}
              </button>
            </a>
          </div>
        ))
      }
    </div>
  </section>
</DefaultLayout>
