---
import { sponsors } from "src/config/sponsors";
import { languages } from "src/i18n/ui";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const [, , ...clearPath] = Astro.url.pathname.split("/");
const nextLang = lang == "hu" ? "en" : "hu";
const langLabel = languages[nextLang];
const urlOnNextLang = `/${nextLang}/${clearPath.join("/")}`;
---

<div
  class="sticky top-0 z-30 lg:hidden flex justify-between items-center px-5 bg-white h-14 sm:h-18 shadow"
>
  <a href="/" class="h-full">
    <img src="/images/logo.svg" class="aspect-square h-full" />
  </a>
  <button>
    <img src="/icons/menu.svg" class="aspect-square h-6" data-navbar-control />
  </button>
</div>
<div
  class="hidden fixed top-0 left-0 w-screen h-screen z-40 backdrop-blur"
  data-navbar-content
>
  <div
    class="w-full sm:w-96 h-screen overflow-y-scroll bg-white px-8 pt-6 space-y-10 scrollbar-hide"
  >
    <div class="flex justify-between items-center">
      <img src="/images/logo.svg" class="aspect-square h-24 sm:h-20" />
      <button>
        <img src="/icons/close.svg" class="w-8" data-navbar-control />
      </button>
    </div>
    <div>
      <nav class="flex flex-col gap-3 text-xl font-medium">
        <a href={`/${lang}/`} class="flex justify-between items-center">
          <span
            class="focus:underline hover:underline underline-offset-2 decoration-2"
          >
            {t("nav.home")}
          </span>
          <img src="/icons/arrow-right.svg" class="h-6" /></a
        >
        <a href={`/${lang}/camps`} class="flex justify-between items-center">
          <span
            class="focus:underline hover:underline underline-offset-2 decoration-2"
          >
            {t("nav.camps")}
          </span>
          <img src="/icons/arrow-right.svg" class="h-6" /></a
        >
        <a href={`/${lang}/about`} class="flex justify-between items-center">
          <span
            class="focus:underline hover:underline underline-offset-2 decoration-2"
          >
            {t("nav.about")}
          </span>
          <img src="/icons/arrow-right.svg" class="h-6" /></a
        >
        <a href={`/${lang}/contact`} class="flex justify-between items-center">
          <span
            class="focus:underline hover:underline underline-offset-2 decoration-2"
          >
            {t("nav.contact")}
          </span>
          <img src="/icons/arrow-right.svg" class="h-6" /></a
        >
      </nav>
    </div>
    <div class="text-lg font-medium text-center">
      <a href={urlOnNextLang}>{langLabel}</a>
    </div>
    <div class="flex flex-wrap gap-8 justify-center">
      {
        sponsors.map((sponsor) => (
          <img src={sponsor.img} alt={sponsor.name[lang]} class="max-h-8" />
        ))
      }
    </div>
    <p class="text-center">icehockeypro57 - {new Date().getFullYear()}</p>
  </div>
</div>

<script>
  const toggler = document.querySelectorAll("[data-navbar-control]");
  const content = document.querySelector("[data-navbar-content");

  toggler?.forEach((btn) =>
    btn.addEventListener("click", () => {
      if (content?.classList.contains("hidden")) {
        content.classList.remove("hidden");
        document.body.classList.add("overflow-y-hidden");
      } else {
        content?.classList.add("hidden");
        document.body.classList.remove("overflow-y-hidden");
      }
    })
  );
</script>
